node_modules
bower_components
deploy/*
dev/js/lib/*

# Others
cgi-bin
error_log
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
