.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.media{}
.media > .img{
    float: left;
    margin-right: 10px;
}
.media > .body{
    overflow: hidden;
}

.nav{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 0;
}

.nav.inline > li{
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}